<div class="ui inverted black footer vertical segment">
  <div class="container">
    <div class="ui stackable inverted divided relaxed grid">
      <div class="eight wide column">
        <h3 class="ui inverted header">Why another auction site?</h3>
        <p>It's sad, but the eBay&trade; we all know and use to love is behind the times, lacking in features, and takes too much of your money. Etsy&trade; on the other... <a href="#" class="text teal">read more</a></p>
      </div>
      <div class="four wide column">

        <h5 class="ui teal inverted header">Useful stuff</h5>
        <div class="ui inverted link list">
          <a href="#" class="disabled item">List an item</a>
          <a href="#" class="disabled item">Blog</a>
          <a href="#" class="disabled item">Team</a>
          <a href="#" class="disabled item">Semantic UI</a>
        </div>

        <h5 class="ui teal inverted header">Connect with us</h5>
        <div class="ui inverted link list">
          <a href="#" class="ui circular facebook icon button"><i class="facebook icon"></i></a>
          <a href="#" class="ui circular twitter icon button"><i class="twitter icon"></i></a>
          <a href="#" class="ui circular instagram icon button"><i class="instagram icon"></i></a>
          <a href="#" class="ui circular red icon button"><i class="pinterest icon"></i></a>
        </div>

      </div>
      <div class="four wide column">
        <h5 class="ui teal inverted header">Help</h5>
        <div class="ui inverted link list">
          <a class="disabled item" href="#">How to list an item</a>
          <a class="disabled item" href="#">Resolving conflicts</a>
          <a class="disabled item">Forum</a>
          <a class="disabled item">Support</a>
        </div>
      </div>
    </div>
  </div>
</div>
