//Colors
$ct-text-color: #31393D;

$ct-color-primary: #26CFE8;
$ct-color-default: #E7F1EC;
$ct-color-success: #0EFF98;
$ct-color-info: #40526B;
$ct-color-warning: #26CFE8;
$ct-color-error: #BF2C2C;

$ct-link-color: #1D3647;
$ct-border-color: #477198;

$ct-body-font-size: 16px;
