@import "semantic-ui";
@import "semantic";

body {
  padding-top: 50px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media(min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media(min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media(min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

html.turbolinks-progress-bar::before {
  background-color: #3B579D !important;
  height: 3px !important;
}

.paypal {
  color: #0B86C1;
}

.visa {
  color: #164394;
}

.mastercard {
  color: #F9B31F;
}

.american.express {
  color: #24ADE3;
}

.bright {
  opacity: 1 !important;
}

.notification {

  &.item {
    &.unread {
      background-color: rgba(156,10,0,.05);
    }
  }
}

.big.bottom.margin {
  margin-bottom: 40px;
}
