@import 'normalize';

// Include Bourbon, Neat, and Bitters
@import "bourbon";
@import 'components/overrides';
@import "base/base";
@import "neat";

// Refills
@import 'refills/footer';
@import 'refills/hero';
@import 'refills/centered-navigation';
@import 'refills/cards';

@import 'font-awesome';
@import 'components/functions';
@import 'components/variables';
@import 'components/mixins';

body {
  color: $ct-text-color;
  font-size: $ct-body-font-size;
}

a {
  color: $ct-link-color;
  text-decoration: none;
  font-weight: 500;

  &:hover {
    color: darken($ct-link-color, 10%);
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;
}

.float.right {
  float: right;
}



@import "layouts";
@import "static";